@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');
body {
  margin: 0;
  padding: 15px;
  padding-bottom: 30px;
  color: #36454f;
  background-color: white;
  font-family: "Inconsolata";
  font-size: 15pt;
  font-style: normal;
  overflow-x: hidden;
  overflow-y: scroll;
}
#command-line {
  margin-top: -5px;
}
#difficulties,
#instruct {
  font-size: 12pt;
  position: fixed;
}
#difficulties {
  top: 5px;
  right: 15px;
  width: 15em;
  text-align: right;
}
#instruct {
  bottom: 10px;
  display: none;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #36454f;
    color: white;
  }
}
